.contenuNav,
.categorieNav,
.icon,
.Footerrr,
.LogoAndNew,
.mail,
.en-savoir-plus,
.info,
.infoPaiement,
.Contacter,
.contact,
.reseau,
.Btn-contact,
.CategorieAc,
.autreCategorie,
.emilie,
.ContenuMeilAchat,
.passe,
.MeilleurArticle,
.Compte,
.TousCompte, .InfoInput, .Titre {
  display: flex;
}

.info,
.Contacter,
.autreCategorie,
.LogoAndNew,
.Compte {
  flex-direction: column;
}

.Btn-contact,
.Footerrr,
.CategorieAc,
.emilie,
.LogoAndNew,
.TousCompte {
  justify-content: center;
}

.ContenuMeilAchat,
.Compte {
  align-items: center;
}

.categorieNav,
.icon {
  align-items: end;
}

.Titre {
  align-items: start;
}

.contenuNav,
.categorieNav,
.icon,
.Footerrr,
.en-savoir-plus,
.ContenuMeilAchat,
.MeilleurArticle {
  justify-content: space-between;
}

.InfoInput {
  border-radius: 10px;
}

html {
  background-color: #CED8E2;
}

.navig {
  width: 100%;
  height: 130px;
  background-color: #112B3D;
}
.navig .LogoNav {
  margin: 29px 0px 0px 69px;
  width: 159px;
  height: 64px;
}
.navig .categorieNav {
  width: 50%;
  max-width: 391px;
}
.navig .categorieNav a {
  text-decoration: none;
  color: #CED8E2;
}
.navig .icon {
  width: 50%;
  max-width: 106px;
  margin-right: 62px;
}

.Footerrr {
  width: 100%;
  background-color: #112B3D;
}
.Footerrr .LogoAndNew {
  margin-left: 60px;
  margin-top: 30px;
}
.Footerrr .LogoAndNew .LogoFoot {
  width: 157px;
  height: 64px;
}
.Footerrr .LogoAndNew .News {
  margin: 31px 0px;
  color: #CED8E2;
}
.Footerrr .LogoAndNew .News .mail {
  align-items: end;
  border-bottom: 2px solid #CED8E2;
  padding: 5px;
  margin-top: 16px;
  width: 209.01px;
}
.Footerrr .LogoAndNew .News .mail img {
  margin-right: 26px;
}
.Footerrr .en-savoir-plus {
  margin-top: 48px;
  margin-right: 134px;
}
.Footerrr .en-savoir-plus .contenuFoot {
  margin-right: 88px;
}
.Footerrr .en-savoir-plus .contenuFoot .titreFoot {
  margin-bottom: 20px;
  color: #CED8E2;
}
.Footerrr .en-savoir-plus .contenuFoot .info a {
  text-decoration: none;
  color: #CED8E2;
  margin-bottom: 14px;
}
.Footerrr .en-savoir-plus .contenuFoot .infoPaiement img {
  width: 31px;
  height: 21px;
  margin-right: 16px;
}
.Footerrr .en-savoir-plus .Contacter p {
  color: #CED8E2;
}
.Footerrr .en-savoir-plus .Contacter .contact {
  margin-top: 14px;
}
.Footerrr .en-savoir-plus .Contacter .contact img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.Footerrr .en-savoir-plus .Contacter .reseau {
  margin: 25px 0px;
  align-items: end;
}
.Footerrr .en-savoir-plus .Contacter .reseau img {
  margin-right: 14px;
}

.boutonFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 27px;
  width: 110px;
  height: 30px;
  background-color: #CED8E2;
  color: #112B3D;
  border: 0px;
  border-radius: 33px;
}

.policeCHAKRA {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
}

.policeIBM {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
}

.CHAKRARegular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
}

.CHAKRAMedium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}

.IBMMedium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

.CHAKRASemiBold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}

.CHAKRABold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}

.font16 {
  font-size: 16px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px;
}

.font32 {
  font-size: 32px;
}

.font40 {
  font-size: 40px;
}

.font48 {
  font-size: 48px;
}

.centreV {
  align-items: center;
}

.haut {
  align-items: start;
}

.gauche {
  justify-content: left;
}

.droite {
  justify-content: right;
}

.over:hover {
  font-weight: 600;
}

.overimg:hover {
  transform: scale(1.2);
}

.scroll::-webkit-scrollbar {
  background-color: #1CC9A1;
  margin-right: 10px;
  border-radius: 10px;
  border: solid 4px transparent;
  border-right-width: 80px;
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #112B3D;
  border-radius: 10px;
}

video {
  width: 100%;
  height: 100%;
}

main {
  background-color: #CED8E2;
}

.CategorieAc {
  margin: 76px 0px;
}
.CategorieAc .autreCategorie {
  margin-left: 19px;
}
.CategorieAc .autreCategorie .motifs {
  margin-bottom: 17px;
}

.MeilleursAchats {
  background-color: #112B3D;
  margin-bottom: 75px;
}
.MeilleursAchats .NosMeilAchat {
  color: #CED8E2;
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 37px;
}
.MeilleursAchats .ContenuMeilAchat {
  margin-bottom: 56px;
  width: 100%;
  max-width: 1380px;
}
.MeilleursAchats .ContenuMeilAchat .passe {
  margin: 0px 55px;
}
.MeilleursAchats .ContenuMeilAchat .MeilleurArticle {
  width: 70%;
  max-width: 1080px;
}

.Compte {
  margin-bottom: 126px;
}
.Compte .MonCompte {
  margin-top: 103px;
  margin-left: 67px;
  margin-bottom: 98px;
  color: #112B3D;
}
.Compte .Titre {
  width: 100%;
  margin-bottom: 40px;
}
.Compte .Erreur {
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(212, 59, 59);
}
.Compte .TousCompte {
  width: 70%;
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Compte .TousCompte .signUp {
  background-color: #112B3D;
  border-radius: 10px;
}
.Compte .TousCompte .signUp .TitreSignUp-In {
  color: #1CC9A1;
}
.Compte .TousCompte .signUp .FormSignUp {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Compte .TousCompte .signUp .FormSignUp form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
}
.Compte .TousCompte .signUp .FormSignUp form .FNameLName {
  display: flex;
  justify-content: center;
}
.Compte .TousCompte .signUp .FormSignUp form .FNameLName .InfoInput {
  background-color: #CED8E2;
  max-width: 396px;
  margin: 15px;
}
.Compte .TousCompte .signUp .FormSignUp form .FNameLName .InfoInput input {
  margin: 18px;
  width: 100%;
  border: 0px;
  color: #112B3D;
  background-color: transparent;
}
.Compte .TousCompte .signUp .FormSignUp form .AutreInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Compte .TousCompte .signUp .FormSignUp form .AutreInfo .InfoInput {
  background-color: #CED8E2;
  max-width: 396px;
  margin: 15px;
}
.Compte .TousCompte .signUp .FormSignUp form .AutreInfo .InfoInput img {
  max-width: 22px;
  margin-left: 20px;
}
.Compte .TousCompte .signUp .FormSignUp form .AutreInfo .InfoInput input {
  margin: 18px;
  width: 100%;
  padding-left: 20px;
  border: 0px;
  border-left-width: 1px;
  border-left-style: solid;
  color: #112B3D;
  background-color: transparent;
}
.Compte .TousCompte .signUp .FormSignUp form .sinscrire {
  color: #112B3D;
  width: 80%;
  max-width: 242px;
  background-color: #CED8E2;
  border-radius: 10px;
  border: 0px;
  padding: 15px 0px;
  margin: 50px 0px;
}
.Compte .TousCompte .signIn {
  background-color: #1CC9A1;
  border-radius: 10px;
  height: max-content;
}
.Compte .TousCompte .signIn .TitreSignUp-In {
  color: #112B3D;
}
.Compte .TousCompte .signIn .FormSignIn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Compte .TousCompte .signIn .FormSignIn form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
}
.Compte .TousCompte .signIn .FormSignIn form .InfoInput {
  background-color: #112B3D;
  max-width: 396px;
  margin: 15px;
}
.Compte .TousCompte .signIn .FormSignIn form .InfoInput img {
  max-width: 22px;
  margin-left: 20px;
}
.Compte .TousCompte .signIn .FormSignIn form .InfoInput input {
  margin: 18px;
  width: 100%;
  padding-left: 20px;
  border: 0px;
  border-left-width: 1px;
  border-left-style: solid;
  color: #CED8E2;
  background-color: transparent;
}
.Compte .TousCompte .signIn .FormSignIn form .Connected {
  color: #CED8E2;
  width: 80%;
  max-width: 242px;
  background-color: #112B3D;
  border-radius: 10px;
  border: 0px;
  padding: 15px 0px;
  margin: 50px 0px;
}

.TitreSignUp-In {
  text-align: center;
  margin: 50px 0px;
}

.Contact {
  display: flex;
  justify-content: center;
  margin: 126px 0px;
}
.Contact .ContenuContact {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.Contact .ContenuContact .NumAndMail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Contact .ContenuContact .NumAndMail .ContenuNumMail {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Contact .ContenuContact .NumAndMail .ContenuNumMail .NumMailInfo {
  height: 245px;
  background-color: #112B3D;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Contact .ContenuContact .NumAndMail .ContenuNumMail .NumMailInfo p {
  color: #CED8E2;
}
.Contact .ContenuContact .NousContacter {
  background-color: #1CC9A1;
  border-radius: 10px;
  width: 841px;
  height: 742px;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Contact .ContenuContact .NousContacter p {
  margin-bottom: 50px;
}
.Contact .ContenuContact .NousContacter .FormContact {
  display: flex;
  justify-content: center;
  width: 80%;
}
.Contact .ContenuContact .NousContacter .FormContact form {
  width: 100%;
}
.Contact .ContenuContact .NousContacter .FormContact .CFirstLastName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Contact .ContenuContact .NousContacter .FormContact .CFirstLastName .InfoInputC {
  background-color: #112B3D;
  border-radius: 10px;
  width: 45%;
}
.Contact .ContenuContact .NousContacter .FormContact .CFirstLastName .InfoInputC input {
  max-width: 75%;
  margin: 18px;
  color: #CED8E2;
  border: 0px;
  background-color: transparent;
}
.Contact .ContenuContact .NousContacter .FormContact .CNumMail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Contact .ContenuContact .NousContacter .FormContact .CNumMail .InfoInputC {
  display: flex;
  background-color: #112B3D;
  border-radius: 10px;
  width: 45%;
}
.Contact .ContenuContact .NousContacter .FormContact .CNumMail .InfoInputC img {
  max-width: 22px;
  margin-left: 20px;
}
.Contact .ContenuContact .NousContacter .FormContact .CNumMail .InfoInputC input {
  max-width: 75%;
  margin: 18px;
  color: #CED8E2;
  padding-left: 20px;
  border: 0px;
  border-left-width: 1px;
  border-left-style: solid;
  background-color: transparent;
}
.Contact .ContenuContact .NousContacter .FormContact .Message {
  margin-bottom: 30px;
}
.Contact .ContenuContact .NousContacter .FormContact .Message .InfoInputC textarea {
  min-width: 100%;
  min-height: 60px;
  max-width: 100%;
  max-height: 240px;
  padding: 15px;
  background-color: #112B3D;
  border-radius: 10px;
  color: #CED8E2;
  width: 100%;
  height: 144px;
  border: 0px;
}
.Contact .ContenuContact .NousContacter .FormContact .CEnvoyer {
  display: flex;
  justify-content: center;
}
.Contact .ContenuContact .NousContacter .FormContact .CEnvoyer .Envoyer {
  background-color: #112B3D;
  color: #CED8E2;
  width: 80%;
  max-width: 242px;
  border: 0px;
  border-radius: 10px;
  padding: 13px 0px;
}

.CategoryAppareil {
  width: 100%;
  margin: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CategoryAppareil .InfoCategoryApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CategoryAppareil .InfoCategoryApp p {
  margin-bottom: 15px;
}
.CategoryAppareil .ContenuCategoryApp {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 62px 0px;
}
.CategoryAppareil .ContenuCategoryApp .passe {
  display: flex;
  align-items: center;
}
.CategoryAppareil .ContenuCategoryApp .Articles {
  width: 80%;
  margin: 0px 40px;
  display: flex;
  justify-content: space-between;
}
.CategoryAppareil .ContenuCategoryApp .Articles a {
  margin: 0px 20px;
}
.CategoryAppareil .VoirPlusApp a {
  background-color: #112B3D;
  color: #1CC9A1;
  padding: 12px 40px;
  border-radius: 100px;
  text-decoration: none;
}

.Category {
  width: 100%;
  margin: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Category .InfoCategory {
  margin-bottom: 70px;
}
.Category .ContenuCategory {
  background-color: #112B3D;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Category .ContenuCategory .TousArticles {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 65px;
  padding: 95px 0px;
}
.Category .ContenuCategory .TousArticles .Articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Category .ContenuCategory .TousArticles .Articles p {
  color: #CED8E2;
  margin: 25px 0px;
}
.Category .ContenuCategory .TousArticles .Articles a {
  background-color: #CED8E2;
  color: #112B3D;
  text-decoration: none;
  border-radius: 97px;
  padding: 10px 50px;
}
.Category .ContenuCategory .VoirPlus {
  margin-bottom: 60px;
}
.Category .ContenuCategory .VoirPlus a {
  background-color: #CED8E2;
  color: #112B3D;
  padding: 12px 40px;
  border-radius: 100px;
  text-decoration: none;
}

.Panier {
  width: 100%;
  margin: 130px 0px;
}
.Panier .InfoPanier {
  color: #112B3D;
  margin: 80px 0px;
}
.Panier .ContenuPanier {
  background-color: #112B3D;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Panier .ContenuPanier .TableauPanier {
  padding: 72px 0px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.Panier .ContenuPanier .TableauPanier Table {
  width: 818px;
  background-color: #CED8E2;
  border: 4px solid #1CC9A1;
  border-radius: 10px;
}
.Panier .ContenuPanier .TableauPanier Table thead {
  border: 4px solid #1CC9A1;
}
.Panier .ContenuPanier .TableauPanier Table thead tr th {
  border: 4px solid #1CC9A1;
  padding: 25px 0px;
}
.Panier .ContenuPanier .TableauPanier Table tbody tr {
  border: 4px solid #1CC9A1;
}
.Panier .ContenuPanier .TableauPanier Table tbody tr td {
  border: 4px solid #1CC9A1;
}
.Panier .ContenuPanier .TableauPanier Table tbody tr td .ContenuProduit {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Panier .ContenuPanier .TableauPanier Table tbody tr td .ContenuProduit .Info img {
  width: 200px;
  margin-bottom: 10px;
}
.Panier .ContenuPanier .TableauPanier Table tbody tr td .ContenuProduit .Info .InfoProduit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Panier .ContenuPanier .TableauPanier Table tbody tr td .ContenuProduit .Info .InfoProduit .Article {
  padding-bottom: 15px;
}
.Panier .ContenuPanier .Resum {
  width: 490px;
  height: max-content;
  border: 4px solid #1CC9A1;
  border-radius: 10px;
}
.Panier .ContenuPanier .Resum .Titre {
  background-color: #CED8E2;
  color: #112B3D;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #1CC9A1;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  padding: 20px 0px;
}
.Panier .ContenuPanier .Resum .ContenuResume {
  background-color: #CED8E2;
  padding: 60px;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Panier .ContenuPanier .Resum .ContenuResume .Resumee .Objet {
  color: #112B3D;
  display: flex;
  justify-content: space-between;
  width: 376px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
.Panier .ContenuPanier .Resum .ContenuResume .Total {
  color: #112B3D;
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
  width: 376px;
  border-bottom: 1px solid;
}
.Panier .ContenuPanier .Resum .ContenuResume .Commande {
  margin-top: 50px;
}
.Panier .ContenuPanier .Resum .ContenuResume .Commande a {
  background-color: #112B3D;
  border-radius: 10px;
  padding: 15px 70px;
  color: #CED8E2;
  text-decoration: none;
}

.GestionDeCompte {
  margin: 110px 0px;
}
.GestionDeCompte .TitreCompte {
  margin-top: 103px;
  margin-left: 67px;
  margin-bottom: 98px;
  color: #112B3D;
}
.GestionDeCompte .TousCompte {
  padding: 80px 60px;
  background-color: #112B3D;
  display: flex;
  justify-content: center;
}
.GestionDeCompte .TousCompte .ContenuCompte {
  height: 501px;
  display: flex;
}
.GestionDeCompte .TousCompte .ContenuCompte .CategorieCompte {
  display: flex;
  flex-direction: column;
  width: 430px;
}
.GestionDeCompte .TousCompte .ContenuCompte .CategorieCompte a {
  height: 33.33%;
  text-align: center;
  text-decoration: none;
  color: #112B3D;
  background-color: #CED8E2;
  border: 1px solid #112B3D;
  padding: 65px 55px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso {
  background-color: #CED8E2;
  border: 1px solid #112B3D;
  width: 974px;
  height: 100%;
  padding: 40px;
  padding-bottom: 0px;
  overflow-y: scroll;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TextInfo {
  color: #112B3D;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo {
  display: flex;
  flex-direction: column;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .PreNom {
  display: flex;
  justify-content: space-between;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .PreNom .Contenu {
  width: 340px;
  padding: 30px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .PreNom .Contenu .Info {
  display: flex;
  justify-content: left;
  color: #112B3D;
  margin-bottom: 6px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .PreNom .Contenu .InputInfo {
  width: max-content;
  background-color: #112B3D;
  padding: 15px;
  margin-left: auto;
  border-radius: 10px;
  display: flex;
  justify-content: right;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .PreNom .Contenu .InputInfo input {
  color: #CED8E2;
  border: 0px;
  background-color: transparent;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .TelMail {
  display: flex;
  justify-content: space-between;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .TelMail .Contenu {
  width: 340px;
  padding: 30px;
  padding-right: 0px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .TelMail .Contenu .Info {
  display: flex;
  justify-content: left;
  color: #112B3D;
  margin-bottom: 6px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .TelMail .Contenu .InputInfo {
  width: fit-content;
  background-color: #112B3D;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: right;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .TelMail .Contenu .InputInfo img {
  max-width: 22px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .TelMail .Contenu .InputInfo input {
  width: 230px;
  color: #CED8E2;
  margin-left: 18px;
  padding-left: 20px;
  border: 0px;
  border-left-width: 1px;
  border-left-style: solid;
  background-color: transparent;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .Adresse {
  display: flex;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .Adresse .Contenu {
  padding: 30px;
  padding-right: 0px;
  width: 50%;
  height: 230px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .Adresse .Contenu .Info {
  display: flex;
  justify-content: left;
  color: #112B3D;
  margin-bottom: 6px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .Adresse .Contenu .InputInfo {
  height: 100%;
  background-color: #112B3D;
  padding: 15px;
  border-radius: 10px;
  display: flex;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .Adresse .Contenu .InputInfo textarea {
  width: 100%;
  height: 100%;
  color: #CED8E2;
  border: 0px;
  background-color: transparent;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .BoutonSauve {
  display: flex;
  justify-content: center;
  margin: 80px 0px;
}
.GestionDeCompte .TousCompte .ContenuCompte .InfoPerso .TousInfo .BoutonSauve a {
  background-color: #112B3D;
  color: #CED8E2;
  padding: 15px 25px;
  border: 0px;
  border-radius: 10px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
